input[type="text"],
select {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  width: 300px;
}

.formcontainer {
  width: 500px;
  height: 450px;

  background-color: #c1d9d3;
  padding: 40px 90px;
  border-radius: 10%;
  margin-left: 12rem;
  position: relative;
  bottom: 450px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
}

#interestbox {
  height: 100px;
}

input[type="submit"] {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #86a49c;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  border-radius: 0.8rem;
}
