@use "../../global/main.scss";
@use "../../global/typography";
@use "../../global/variables";

.btn-wrap {
  margin-bottom: 4rem;
  width: 3rem;
  button {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6rem 2.8rem 0.6rem 2.8rem;
    border-radius: 1rem;
    border: none;
  }
}
