@import "../../global/variables.scss";

.main__container {
  * {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    list-style: none;
  }
  display: flex;
  justify-content: space-evenly;

  ul {
    list-style: none;
    li {
      text-decoration: none;
    }
  }
}
