@use "../../global/main.scss";
@use "../../global/typography";
@use "../../global/variables";

.wrap {
  margin-top: 10rem;
}
.main__container {
  * {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    list-style: none;
  }
  display: flex;
  justify-content: center;
  height: 20rem;
  margin-top: 6rem;

  .find__partner {
    h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }

  button {
    height: 4rem;
    width: 17rem;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 1.2rem 0 0;
    background-color: #ffffff;
  }
  .inputWrap {
    // display: flex;
    justify-content: center;
    margin: 0 1.6rem 0 1.6rem;
  }
  label {
    margin-left: 0.8rem;
  }

  ul {
    opacity: 0.9;
    list-style: none;
    background-color: #000000;
    box-shadow: 0.6rem 0.8rem 2rem variables.$rockGray;
    border-radius: 0.8rem;
    padding-top: 0.8rem;
    padding-right: 0.8rem;
    color: white;
    width: 7rem;
    line-height: 1.75rem;
    padding-bottom: 1.5rem;
    min-width: 17.925rem;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    // height: -moz-fit-content;
    // height: -webkit-fit-content;
    height: 200px;
    overflow-y: hidden;
    overflow-y: scroll;

    li {
      text-decoration: none;
      letter-spacing: 0.06rem;
    }
  }
}
