@use "../../styles/typography";
@use "../../styles/variables";

.card {
  padding: 1rem;
  border: 1px solid #00000075;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  border-radius: 1rem;
  max-width: 300px;

  a {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
  }
  a:hover {
    font-weight: bold;
    background-color: variables.$skyBlue;
    color: white;
  }

  a:active {
    color: variables.$skyBlue;
    background-color: white;
  }

  h3 {
    @include typography.small-title;
    line-height: 1.122;
  }
  p {
    font-family: typography.$bodyText;
    line-height: 1.25;
  }
}

.card__content-container {
  width: 100%;
}

.card__img--wrapper {
  width: 140px;
  height: 140px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card__logo {
  object-fit: scale-down;
  margin-bottom: 1rem;
}

// .card__title {
//   @include typography.card-categories;
// }
