.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.textcontainer {
  padding-left: 12rem;
  padding-top: 6rem;
  width: 55rem;
  height: max-content;
}

.imagecontainer {
  width: 400px;
  background-color: aqua;
  height: 900px;
  overflow: hidden;
  margin-top: 6rem;
}

#childrenimage {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
