// Global color variables (import this into scss sheets where you want to use the global variables)
$forestGreen: #49853e;
$oceanBlue: #0071b8;
$skyBlue: #009ede;
$rockGray: #58595b;
$plainWhite: #ffffff;
// If any colors are missing, feel free to add them as you see fit
