@import "../../styles/variables.scss";

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin: 0 3rem;
  // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
