@import "../../global/variables.scss";

<<<<<<< HEAD
h1 {
  color: $forestGreen;
  padding-left: 12rem;
}

.card-cotanier {
  color: red;
  padding-left: 12rem;
}
=======
>>>>>>> ca728f9852b6f604db8f03fdcea95929943063f0
