@use "../../styles/variables.scss";


.container {
  font-family: franklin-gothic-condensed, sans-serif;
  font-size: 1.3rem;
  padding: 0;
  font-weight: bold;
  box-shadow: 0px 4px 4px #cecece;
}

.container {
   ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 2rem;
    margin: 0.2rem 3rem;
  }
}

.container {
  img {
    margin: 1.5rem 0 1.5rem 0;
}
}
// .container {
//   ul {
//     display: grid;
//     grid-template-columns: 3fr 1fr 1fr 1fr 0.8fr 0.7fr 1.1fr 2fr;
//     grid-auto-rows: auto;
//     align-items: center;
//     text-align: center;
//     margin-left: 4rem;
//   }
// }

.container {
  ul {
    list-style-type: none;
  }
}
.container {
  li {
    a {
      text-decoration: none;
      color: variables.$skyBlue;
    }
  }
}

.container {
  li {
    a:hover {
      color: variables.$forestGreen;
    }
  }
}
