@import "../../global/variables.scss";

.nav {
  ul {
    font-family: franklin-gothic-condensed, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    justify-content: space-around;
  }

  li a {
    color: $skyBlue;
    text-decoration: none;
  }

  // nav {
  //     color: $skyBlue;

  // }

  // li {
  //     color: $skyBlue;

  //   }

  // a {
  //     color: $skyBlue;
  // }

  li a:hover {
    color: $forestGreen;
  }
}
