@use "../../styles/variables.scss";

hr {
  border-top: 2px solid variables.$skyBlue;
  width: 52rem;
}

.footer__main {
padding-top: 7rem;
}

.footer__logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 3rem 1rem 3rem;
    margin: 0 3rem;
}

.footer__logos {
    a {
        img {
            margin: 1rem 0 1rem 0;
        }
    }
}


.footer__contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: franklin-gothic-condensed, sans-serif;
    font-size: 1.1rem;
    margin: 2rem;
    padding: 3rem;
    font-weight: bold;
}


.footer__contact {
  a {
    text-decoration: none;
    color: variables.$skyBlue;
  }
}

.footer__contact {
  a:hover {
    color: variables.$forestGreen;
  }
}
