@import "../../global/variables.scss";
 
hr {
    border-top: 1px solid $skyBlue; 
}
   
.footer__logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
    margin: 0 3rem;
}

.footer__logos {
    a {
        img {
            margin: 1.5rem 0 1.5rem 0;
        }
    }
}


.footer__contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: franklin-gothic-condensed, sans-serif;
    font-size: 1.1rem;
    margin: 2rem;
    padding: 3rem;
}


.footer__contact {
    a {
    text-decoration: none;
    color: $skyBlue;
    }
}

.footer__contact {
    a:hover {
    color: $forestGreen;
    }
}